
.product__container{
  max-width: 90rem;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card {
  display: grid;
  gap:4rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.product__description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 .4rem;
  height: 100%;
  background-color: red;
  bord
}

.product__detail{
  display: flex;
  justify-content: space-between;
}

.product__image {
  border-radius: 2rem;
  object-fit: cover;
  height: 30vh;

}

.product__detail--title{

}

.product__detail--data{

}
