
.product__container{
  max-width: 90rem;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.product__description{

}

.product__detail{

}

.product__detail--title{

}

.product__detail--data{

}
